<%- include('../partials/header') %>
 <%- include('../partials/nav') %>
<title>Playdate Edit</title>
 <h1><span class="gradient-underline">Playdate Edit</span></h1>

 <form action="/playdates/<%=playdate.id%>?_method=PUT" method="POST">
 <label for="title">Title:</label>
 <br>
 <input type="text" name="title" value="<%=playdate.title%>"><br>
 <br>
 <label for="location">Location:</label>
 <br>
 
 <input type="text" name="location" value="<%=playdate.location%>"><br>
 <br>
 <label for="body">Details of Playdate:</label><br>
 <textarea type='text' rows='4' cols='50' name="body"><%=playdate.body%></textarea><br>
 <br>
 <label>Your Pet For Playdate:
    <select name="pet" required> 
        <% pets.forEach(function(t) { %>
        <option value="<%= t.id %>"><%= t.name %></option>
        <% }); %> 
    </select><br><br></label>
</label>
 <button type="submit">Update Playdate</button>
</form>
 



 <%- include('../partials/footer') %>
