<%- include('../partials/header') %>
 <%- include('../partials/nav') %>
 <h1><span class="gradient-underline">Playdate Landing Page</span></h1>

 <table>
    <thead>
      <tr>
        <th>Playdate Listing</th>
        <th>Location</th>
        <!-- <a href="playdate/:id">View</a> -->
      </tr>
    </thead>
    <tbody>
        <br> 
        <% playdate.forEach(function(t) { %>
        <tr>
          <td><%= t.title %></td>
          <td><%= t.location %></td>
          <td><a class ='button' href="/playdates/<%= t.id %> ">View</a></td>
          <td>
            <!-- <section>
              <form action="/playdates/<%=t.id%>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
            </section> -->
            <br>
        </td>

        </tr> 
          <% }); %> 
     </tbody>
     </table>
  <%- include('../partials/footer') %>
