<%- include('../partials/header') %>
 <%- include('../partials/nav') %>
<title>Playdates</title>
 <h1><span class="gradient-underline">Playdates</span></h1>

 <div class='playdate-index-table-header'>
 <table>
    <thead>
      <tr>
        <th class='table-hdr'>Playdate Listing</th>
        <th class='table-hdr'>Location</th>
        <!-- <a href="playdate/:id">View</a> -->
      </tr>
    </thead>
    <tbody>
        <br> 
        <% playdate.forEach(function(t) { %>
        <tr>
          <td class='table-info'><%= t.title %></td>
          <td class='table-info'><%= t.location %></td>
          <td class='table-info'><a class ='button' href="/playdates/<%= t.id %> ">View</a></td>
          <td>
            <br>
            <% if(user && t.owner == user.id) {%> 
            <section>
              <td class='info'>
              <form action="/playdates/<%=t.id%>?_method=DELETE" method="POST">
                <button class='remove-from-playdate-list' type="submit">Remove</button>
              </form>
            </section>
            <% } %> 
          </td>
            <br>
        </td>

        </tr> 
          <% }); %> 
     </tbody>
     </table>
    </div>
  <%- include('../partials/footer') %>
