<%- include('../partials/header') %>
<%- include('../partials/nav') %>
 <h1><span class="gradient-underline"><%= playdate.title + ' '%>Details</span></h1>


 <section id="show-page">
    <div id='locationEl'><strong>Location:</strong> </div>
    <div id='locationrend'><%= playdate.location %></div><br>
    <div id='detailEl'><strong>Details:</strong> </div>
    <div id='detailrend'><%= playdate.body %></div><br>
  </section>

  <br><br><br>
 
  <section>
    <a class='button' href="/playdates/<%=playdate.id%>/edit">Edit</a>
  </section>

<%- include('../partials/footer') %>
