<%- include('../partials/header') %>
<%- include('../partials/nav') %>
 <h1><%= playdate.title + ' '%>Details</h1>

 <section id="show-page">
    <div id='locationEl'><strong>Location:</strong> </div>
    <div id='locationrend'><%= playdate.location %></div><br>
    <div id='detailEl'><strong>Details:</strong> </div>
    <div id='detailrend'><%= playdate.body %></div><br>
  </section>

  <br><br><br>
  <% if (owner._id.equals(user && user._id)) { %>
  <section>
    <a href="/playdates/<%=playdate.id%>/edit">Edit</a>
  </section>
  <% } %> 
<%- include('../partials/footer') %>
