<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<title>Playdate Detail</title>
<%
 let d = playdate.date.getDate();
 let m = playdate.date.getMonth();
 let y = playdate.date.getFullYear();
 %>
<title>Playdate Details</title>
 <h1><span class="gradient-underline"><%= playdate.title + ' '%></span></h1>


 <section id="show-page">
    <div id='locationEl'><strong>Location:</strong> </div>
    <div id='locationrend'><%= playdate.location %></div><br>
    <div id='detailEl'><strong>Details of Playdate:</strong> </div>
    <div id='detailrend'><%= playdate.body %></div><br>
    <div id='creatorEl'><strong>On:</strong> </div>
    <div id='creatorRend'><%= m+ "/"+d+ "/"+y %></div><br>
    <div id='detailEl'><strong>Owners Pet:</strong> </div>
    <% if(!playdate.pet) {%> 
      <p>No Pet Added</p>
      <% } else { %> 
    <a class='button' href="/pets/<%= playdate.pet._id %>"><%=playdate.pet.name%></a>
    <img class='owner-dog' src="../images/bone.svg" alt="">
    <br><br>
    <td class='pet-table-info'>  
      <a href='/pets/<%=playdate.pet.id%>/imagesPlaydate'>
          <img class='pet-img-index' src="/<%=playdate.pet.petImage %>" alt="">
      </a>
    </td>
        <% } %> 
  </section>

  <br><br><br>
 

  <% if(playdate.owner.id == user.id) {%> 
  <section>
    <a class='button-edit' href="/playdates/<%=playdate.id%>/edit">Edit</a>
  </section>
<% } %> 
  <br><br><br>
  <section id="show-page">
    <div id='locationEl'><strong>Pets Attending:</strong> </div>
    <div id='locationrend'>
      <ul>

      <% playdate.petsOnPlaydate.forEach(function (t) { %>
        <li class='add-pet-list-playdate'>
          <a class='button' href="/pets/<%=t.id%>"><%= t.name %></a>
        
            <% if(t.owner == user.id) {%> 
              <form class='delete-from-playdate' action="/playdates/<%=playdate.id%>/<%=t.id%>/remove?_method=DELETE" method="POST">
                <button class='submit' type="submit">X</button>
              </form>
      </li>

           <% } %> 
          <% }) %>
 
      </ul>
    </div><br>
  </section>
  <% if (pets.length > 0) { %>
  <form action="/playdates/<%= playdate._id %>/add" method="POST">
    <label>Your Pet For Playdate:
      <select name="pet"> 
        <% pets.forEach(function(p) { %>
          <%  if(!playdate.petsOnPlaydate.some(pet => pet.id == p.id)) {%>
           <option value='<%= p.id %>'><%= p.name %></option>
           <% }else if(pets.length === 0){ %>
            <h4>you've already added your pet! </h4>
           <% }else{ %>
            <h4>you've already added your pet! </h4>
            <% } %> 
            <% }) %>
      </select><br><br></label>
  </label>
  <button type="submit">Add To Playdate</button>
  </form>
  <% }else{ %> 
    <h3>You dont have any pets to add!</h3>
    <% } %>
<%- include('../partials/footer') %>
