<%- include('../partials/header') %>
<%- include('../partials/nav') %>
 <h1><span class="gradient-underline"><%= playdate.title + ' '%>Details</span></h1>


 <section id="show-page">
    <div id='locationEl'><strong>Location:</strong> </div>
    <div id='locationrend'><%= playdate.location %></div><br>
    <div id='detailEl'><strong>Details of Playdate:</strong> </div>
    <div id='detailrend'><%= playdate.body %></div><br>
    <div id='creatorEl'><strong>Playdate Creator:</strong> </div>
    <div id='creatorRend'><%= playdate.owner.name %></div><br>
    <div id='detailEl'><strong>Owners Pet:</strong> </div>
    <a href="/pets/<%= playdate.pet._id %>"><%=playdate.pet.name%></a>

  </section>

  <br><br><br>
 

  <!-- IF CREATOR OF POST BE ABLE TO AADD PET -->
  <section>
    <a class='button' href="/playdates/<%=playdate.id%>/edit">Edit</a>
  </section>


  <br><br><br>
  <section id="show-page">
    <div id='locationEl'><strong>Pets Attending:</strong> </div>
    <div id='locationrend'>
      <ul>
      <% playdate.petsOnPlaydate.forEach(function (t) { %>
        <li>
       <a class='button' href="/pets/<%=t.id%>"><%= t.name %></a>
       <br><br>
       <section>
       <form action="/playdates/<%=t.id%>/remove?_method=DELETE" method="POST">
        <button type="submit">Delete</button>
      </section>
      </form>
      </li>
      <br>
       <% }) %>
      </ul>
    </div><br>
  </section>

  <% if (pets.length) { %>
  <form action="/playdates/<%= playdate._id %>/add" method="POST">
    <label>Your Pet For Playdate:
      <select name="pet"> 
        <% pets.forEach(function(t) { %>
          <option value="<%= t.id %>"><%= t.name %></option>
          <% }); %> 
      </select><br><br></label>
  </label>
  <button type="submit">Add To Playdate</button>
  </form>
  <% }; %> 
<%- include('../partials/footer') %>
