<%- include('../partials/header') %>
 <%- include('../partials/nav') %>
 <h1><span class="gradient-underline">Pets Landing Page</span></h1>

 <table>
    <thead>
      <tr>
        <th>Pet Name</th>
        <th>Gender</th>
        <th>Age</th>
      </tr>
    </thead>
    <tbody class='pet-list'>
        <br> 
        <% pet.forEach(function(t) { %>
        <tr>
          <td><%= t.name %></td>
          <td><%= t.gender %></td>
          <td><%= t.age %></td>
          <td><a class='button' href="/pets/<%= t.id %> ">View</a></td>
          <td>
        </td>
        </tr> 
          <% }); %> 
     </tbody>
     </table>
  <%- include('../partials/footer') %>
