<%- include('../partials/header') %>
 <%- include('../partials/nav') %>
 <h1><span class="gradient-underline">Pet Details</span></h1>

 <section id="show-page">
    <div id='petNameEl'><strong>Name:</strong> </div>
    <div id='petNameRend'><%= pet.name %></div><br>
    <div id='petAgeEl'><strong>Age:</strong> </div>
    <div id='petAgeRend'><%= pet.age %></div><br>
    <div id='petGenderEl'><strong>Gender:</strong> </div>
    <div id='petGenderRend'><%= pet.gender %></div><br>
    <div id='petBreedEl'><strong>Breed:</strong> </div>
    <div id='petBreedRend'><%= pet.breed %></div><br>
    <div id='petSizeEl'><strong>Size:</strong> </div>
    <div id='petSizeRend'><%= pet.size %></div><br>
    <div id='petFixedEl'><strong>Is <%= pet.name + ' ' %>Fixed?</strong> </div>
    <div id='petFixedRend'><%= pet.fixed %></div><br>
    <div id='petSizeEl'><strong>About:</strong> </div>
    <div id='petSizeRend'><%= pet.about %></div><br>
    <!-- <div id='petSizeEl'><strong>Playdates Attending:</strong> </div> -->
    <!-- <div id='petSizeRend'><%= pet.about %></div><br> -->
  </section>

  <% if (user._id.equals(user && pet.owner._id)) { %>
  <section>
    <a class='button' href="/pets/<%=pet.id%>/edit">Edit</a>
  </section>
  <% } %>
  <%- include('../partials/footer') %>
