<%- include('../partials/header') %>
 <%- include('../partials/nav') %>

 <h1><span class="gradient-underline">Playdate Edit</span></h1>

 <form action="/<%=owner.id%>?_method=PUT" method="POST">
 <label for="name">Display Name:</label>
 <br>
 <input type="text" name="name" value="<%=owner.name%>"><br>
 <br>
 <label for="email">Email:</label>
 <br>
 <input type="text" name="email" value="<%=owner.email%>"><br>
 <br>
 <label for="avatar">Picture:</label>
 <br>
 
 <h1><%=owner.avatar%></h1>
 <!-- <input type="text" name="avatar" value=""><br> -->
 <br>
 <br>
 <button type="submit">Update Profile</button>
</form>
 



 <%- include('../partials/footer') %>
