<%- include('../partials/header') %>
 <%- include('../partials/nav') %>
  <div class="container">
    <div id="search-row" class="row">
      <h1><span class="gradient-underline">Owners</span></h1>
      <form action="/owners" method="GET">
        <div class="col s3 offset-s3">
          <!-- search -->
          <div class="input-field">
            <input id="search" type="search" name="name" placeholder="search owner" value="<%= name %>" autocomplete="off">
            <i class="material-icons">close</i>
          </div>
        </div>
        <div class="col s2">
          <p>
            <label for="sort-cohort">
              <input name="sort" type="radio" id="sort-cohort" value="cohort" class="with-gap"
                <%= sortKey === 'cohort' ? 'checked' : '' %> >
              <span>Sort by Cohort</span>
            </label>
          </p>
          <p>
            <label for="sort-name">
              <input name="sort" type="radio" id="sort-name" value="name" class="with-gap"
                <%= sortKey === 'name' ? 'checked' : '' %> >
              <span>Sort by Name</span>
            </label>
          </p>
        </div>
      </form>
    </div>
    <div class="row">
      <div id="owners" class="col s12">
        <% owners.forEach(function(owner) { %>
          <div class="card blue-grey">
            <div class="card-content white-text">
              <div>
                <span class="card-title">
                  <% if (owner.avatar) { %>
                    <img src="<%= owner.avatar %>" alt="" class="circle responsive-img">&nbsp;&nbsp;
                  <% } else { %>
                    <i class="small material-icons">perm_identity</i>
                  <% } %>
                  <span class="student-name"><%= owner.name %></span>
              </div>
            
            
         
             
            </div>
          </div>
        <% }) %>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
