<%- include('../partials/header') %>
<%- include('../partials/nav') %>
<h1><span class="gradient-underline">Show landing page</span></h1>
<br>
<br>
<div id='profileCont'>



<table>
    <thead>
      <tr>
        <th>Your Playdates</th>
        <!-- <a href="playdate/:id">View</a> -->
      </tr>
    </thead>
    <tbody>
        <br> 
        <% playdates.forEach(function(t) { %>
        <tr>
          <td><%= t.title %></td>
          <td><%= t.location %></td>
          <td><a href="/playdates/<%= t.id %> ">View</a></td>
          
          <td>
            <!-- <section>
              <form action="/playdates/<%=t.id%>?_method=DELETE" method="POST">
                <button type="submit">Delete</button>
              </form>
            </section> -->
        </td>
        </tr> 
          <% }); %> 
     </tbody>
     </table>
</div>
<br><br>

<a href="/pets/new" class='button'>Add Pet</a>
<br>
<br>
<a href="/playdates/new" class='button'> Add Playdate</a>





 <%- include('../partials/footer') %>