<%- include('../partials/header') %> <%- include('../partials/nav') %>
<title>Profile</title>
<div class="show-profile">




  <div class="profile-edit-cont">
    <h5>
      <span class="edit-profile">
        <span class="icon">
          <i class="small material-icons">perm_identity</i>
        </span>
        <br>
        <br>
        <a class='button' id="edit" href="/edit">Edit Profile </a>
      </span>
    </h5>
  </div>
  <br />



  <div class="profile-cont">
    <h1>
      <span class="gradient-underline"><%=owner.name + "'s"%> </span>
    </h1>
    <h4>Profile</h4>
  </div>

  <br /><br />

  <div class="profile-pet-cont">
    <table>
      <thead>
        <tr>
          <th class='pet-table-hdr' >Your Pets</th>
          <!-- <a href="playdate/:id">View</a> -->
        </tr>
      </thead>
      <tbody>
        <br />
        <% pets.forEach(function(t) { %>
        <tr>
          <td class='pet-table-info-show'><%= t.name %></td>
          <td class='pet-table-info-show'><a class="button" href="/pets/<%= t.id %> ">View</a></td>
          <td class='pet-table-info-show'>
            <section>
              <form action="/pets/<%=t.id%>?_method=DELETE" method="POST">
                <button class="pet-btn" type="submit">Delete</button>
              </form>
            </section>
          </td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>

  <div class="profile-playdate-cont">
    <table>
      <thead>
        <tr>
          <th class='pet-table-hdr-profile'>Your Playdates</th>
        </tr>
      </thead>
      <tbody> 
        <% playdates.forEach(function(t) { %>
        <tr>
          <td class='pet-table-info-show'><%= t.title %></td>
          <td class='pet-table-info-show'><%= t.location %></td>
          <td class='pet-table-info-show'><a class="button" href="/playdates/<%= t.id %> ">View</a></td>
        </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
  <br /><br />
  <div class='add-pet-cont'>
    <a href="/pets/new" class="button">Add Pet</a>
  </div>
  <br />
  <br />
  <div class='add-playdate-cont'>
    <a href="/playdates/new" class="button"> Add Playdate</a>
  </div>
</div>


<%- include('../partials/footer') %>
